---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - Service
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - StatefulSet
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - route.openshift.io
  resources:
  - Route
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sso.stakater.com
  resources:
  - keycloakimports
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sso.stakater.com
  resources:
  - keycloakimports/finalizers
  verbs:
  - update
- apiGroups:
  - sso.stakater.com
  resources:
  - keycloakimports/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - sso.stakater.com
  resources:
  - keycloaks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - sso.stakater.com
  resources:
  - keycloaks/finalizers
  verbs:
  - update
- apiGroups:
  - sso.stakater.com
  resources:
  - keycloaks/status
  verbs:
  - get
  - patch
  - update
