apiVersion: sso.stakater.com/v1alpha1
kind: KeycloakImport
metadata:
  labels:
    app.kubernetes.io/name: rhbk-operator
    app.kubernetes.io/managed-by: kustomize
  name: realm-import-sample
spec:
  keycloakInstance:
    name: keycloak-sample
    namespace: rhsso
  providers:
    - name: keycloak-metrics-spi-6.0.0.jar
      url:
        secret:
          name: custom-spi
          key: metrics-spi
  substitutions:
    - name: DISPLAY_NAME
      secret:
        name: test-realm-secret
        key: displayName
  overrideIfExists: true
  json: |
    {
      "realm": "test-realm",
      "displayName": "%.DISPLAY_NAME% changed"
    }
