apiVersion: sso.stakater.com/v1alpha1
kind: KeycloakImport
metadata:
  labels:
    app.kubernetes.io/name: rhbk-operator
    app.kubernetes.io/managed-by: kustomize
  name: realm-import-sample
spec:
  keycloakInstance:
    name: keycloak-sample
    namespace: rhsso
  substitutions:
    - name: DISPLAY_NAME
      secret:
        name: test-realm-secret
        key: displayName
  json: |
    {
      "realm": "test-realm",
      "displayName": "${DISPLAY_NAME}"
    }
